.urlap{
    background-image: url(../Képek/naonbaba.jpg);
}

form  {
    margin-left: auto;
    margin-right: auto;
    max-width: 80vw;
}


fieldset{
    font-size: 1.5rem;
    background-color: #202122;
    display: block;
    margin: 0;
    padding: 5%;
    width: calc(98% - 1%);
    border: 1px groove #bbb;
    margin-bottom: 2%;
}

span {
    display: block;
    margin: 1% 0;
    overflow: auto;
    padding: 0 1%;
    width: 98%;
}

textarea {
    width: calc(100% - 2%);
    padding: 2%;
    background-color: rgb(85, 85, 85);
    color: white;
}

input[type="text"]{
    background-color: rgb(85, 85, 85);
    color: white;
}

input[type="submit"]{
    font-size: 1rem;
}
input[type="reset"]{
    font-size: 1rem;
}

label{
    font-size: 1.5rem;
}

h1, label[for="winner"], label[for="kiegeszites"]{
font-size: 2rem;
font-weight: 450;
}



